<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<nav b-3agnm270m7="" class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div b-3agnm270m7="" class="container">
        <a class="navbar-brand pt-0 pb-1" href="/">Buyer</a>
        <div b-3agnm270m7="" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul b-3agnm270m7="" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li b-3agnm270m7="" class="nav-item">
                    <a class="nav-link active" href="/user-new-request-page/">Новая заявка</a>
                </li>
                <li b-3agnm270m7="" class="nav-item">
                    <a class="nav-link active" href="/db/">База данных</a>
                </li>
                <li b-3agnm270m7="" class="nav-item">
                    <a class="nav-link active" href="/exit/">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form method="post" action="/user-new-request/" method="post">
        {% csrf_token %}
        <input value="no" style="display: none;" name="google" id="google_input">
        <input value="no" style="display: none;" name="google" id="yandex_input">

        <div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
            <div class="row mb-3 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for="Name">Заявка</label>
                </div>
                <div class="col-12 col-md-6">
                    {% if error %}
                        <input class="form-control is-invalid input-request" placeholder="заявка" type="text" name="request" autocomplete="off">
                        <span class="my-span1" style="color: #dc3545">введите корректную заявку</span>
                    {% else %}

                        <input class="form-control input-request" placeholder="заявка" type="text" name="request" autocomplete="off">
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for="Name">Ключевые слова(через пробел)</label>
                </div>
                <div class="col-12 col-md-6">
                    {% if error_words %}
                        <input class="form-control is-invalid input-words" placeholder="ключевые слова" type="text" name="words" autocomplete="off">
                        <span class="my-span2" style="color: #dc3545">введите ключевые слова</span>
                    {% else %}

                        <input class="form-control input-words" placeholder="ключевые слова" type="text" name="words" autocomplete="off">
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for="Name">Геолокация google</label>
                </div>
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="google_btn" data-bs-toggle="dropdown" aria-expanded="false">
                            Отключить геопозицию
                        </button>
                        <ul style="overflow: scroll; max-height: 40vh" class="dropdown-menu mh-30" aria-labelledby="google_btn">
                            <li style="cursor: pointer" class="dropdown-item">Отключить геопозицию</li>
                            <li style="cursor: pointer" class="dropdown-item">Не искать в google</li>
                            {% for i in google_locations %}
                                <li style="cursor: pointer" class="dropdown-item">{{ i.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for="Name">Геолокация yandex</label>
                </div>
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <button id="yandex_btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Отключить геопозицию
                        </button>
                        <ul style="overflow: scroll; max-height: 40vh" class="dropdown-menu" aria-labelledby="yandex_btn">
                            <li style="cursor: pointer" class="dropdown-item">Отключить геопозицию</li>
                            <li style="cursor: pointer" class="dropdown-item">Не искать в yandex</li>
                            {% for i in yandex_locations %}
                                <li style="cursor: pointer" class="dropdown-item">{{ i.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12 col-md-9 text-center text-md-end">
                    <button type="submit" class="btn btn-primary" >Создать</button>
                </div>
            </div>
        </div>
    </form>
</div>



     <script>
         document.querySelector('.input-request').onfocus = () => {
             try {
                 document.querySelector('.my-span1').style.opacity = '0';
                 document.querySelector('.input-request').classList.remove('is-invalid');
             } catch {}
         }

         document.querySelector('.input-words').onfocus = () => {
             try {
                 document.querySelector('.my-span2').style.opacity = '0';
                 document.querySelector('.input-words').classList.remove('is-invalid');
             } catch {}
         }

     </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{% static 'js/new_request.js' %}"></script>
</body>
</html>